@import "../../utils/const.scss";

.container {
  @include pages-container;

  display: flex;
  align-items: center;
  justify-content: center;
}

.form_box {
  max-width: 500px;
  width: 100%;
  background: $light_gray;
  border: 1px solid $white;
  border-radius: 35px;
  padding: 30px 34px 40px;
}
